.inline
{
	/* display:inline-block; */
	/* border:solid 2px red; */
}

#main_vue
{
	/* width: 550px; */
	/* border:solid 2px red; */
}

hr
{
	color: #FFDE4A;
	width: 50%;
}

h1
{
	text-align: center;
	font-family: helvetica neue;
}

.categories
{
	text-align: center;
}

.categories li
{
	display: inline-block;
}

.categories a
{
	text-decoration: none;
	color: #FFDE4A;
	font-family: helvetica neue;
	font-size: 2vw;
	margin: 0.5vw;
}

.categories a:hover
{
    color: black;
}

nav
{
	text-align: center;
}

nav li.admin
{
	display: inline-block;
	background-color: lightgrey;
	border-color: lightgrey;
	border-style: solid;
	border-width: 0.3vw;
	border-width: 0.3vw;
	width: 10vw;
	margin: 0.5vw;
	padding: 0.5vw;
}

nav li
{
	display: inline-block;
	border-color: #FFDE4A;
	border-style: solid;
	border-width: 0.3vw;
	width: 10vw;
	margin: 0.5vw;
	padding: 0.5vw;
}

nav li.on
{
	background-color: #FFDE4A;
}

nav li a
{
	text-align: center;
	display: inline-block;
	color:black;
	text-decoration: none;
	font-family: helvetica neue;
	font-size: 1.5vw;
}


nav ul li.nav_hover:hover
{
    background-color: #FFDE4A;
}

form
{
	display: block;
	margin-top: 10%;
	color: black;
	font-family: helvetica neue;
	font-size: 1.5vw;
	font-weight: lighter;
	text-align: center;
	line-height: 5vw;
}

form label
{
	color: black;
	font-family: helvetica neue;
	font-weight: lighter;
}

.products
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.products > div
{
	margin: 0.5vw;
	height: 25vw;
	border-color: #FFDE4A;
	border-style: solid;
	border-width: 0.3vw;
	border-radius: 0.5
}

.product .txt_product
{
opacity:0;
}

.product .txt_product h2
{
position: relative;
text-align: center;
font-weight: normal;
font-family: helvetica neue;
font-size: 3vw;
color: #FFDE4A;
z-index: 99;
margin-top: 6vw;
line-height: 5vw;
}

.product:hover .txt_product {
/*transition:all 0.5s;*/
  opacity:1;
}

.products .img_product:hover img
{
	filter: blur(2px)grayscale(85%);
}

.products a .btton_buy
{
	display: block;
	position: relative;
	width: 2.5vw;
	height: 2.5vw;
	margin-left: 87%;
	margin-top: -2vw;
}

.products a .btton_buy > img
{
		width: 100%;
}

.products .img_product
{
	display: flex;
	width: 20vw;
	height: 20vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: -15vw;
}

.products .img_product > img
{
	width: 20vw;
  height: 20vw;
  margin: auto
}


.container_login, .container_signup
{
	border:solid 2px black;
	width:400px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	padding:50px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/***** TEST *****/
